<% layout('layouts/boilerplate') %> 
<h1><%= category === 'all' ? 'All Products' : category %> </h1>
<% if (category !=='all' ) { %>
    <a href="/products">All Products</a><br>
<% } %>
<ul>
    <% for (let product of products) { %> 
    <li><a href="/products/<%= product._id %>"><%= product.name %> </a></li>
    <% } %> 
</ul>
<a href="/products/new">Add New Product</a>